.signup-toolbar {
  background-color: #181e21;
  /* background-color: #013b56; */
  color: white;
}
.toolbar-row {
  display: flex;
  align-items: center;
  /* padding: 0 16px; */
}

.spacer {
  flex: 1 1 auto;
}

button[mat-icon-button] {
  color: rgb(255, 255, 255);
}

mat-hint {
  color: red;
}

.mat-mdc-form-field {
  /* --mat-mdc-form-field-floating-label-scale: 0.75; */
  min-width: 100%;

  flex-direction: column;
  min-width: 100%;
  text-align: left;
}
