<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<app-slider></app-slider>
<app-best-seller></app-best-seller>
<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon>
      Cafe FlavourHut
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()" style="color: white;"><mat-icon>login</mat-icon>&nbsp;Login</a>
      </li>
      <li>
        <a (click)="handleSignupAction()" style="color: white;"><mat-icon>app_registration</mat-icon> Signup</a>
      </li>
      <li>
        <a (click)="handleForgotPasswordAction()" style="color: white;">Forgot Password ?</a>
      </li>
    </ul>
  </nav>
</div>


<app-footer></app-footer>